    <h1>New Assignment</h1>   
    <%= form_for @assignment  do |f| %>   
        <%= f.label :name%>
        <%= f.text_field :name %> <br>  
        <%= f.label :github_url%>
        <%= f.text_field :github_url %> <br>  
        <%= f.label :status%>
        <%= f.text_field :status %> <br>  

        <%= submit_tag "New Assignment"%>
    <%end%>