<%= button_to 'Log Out', logout_path, method: :get %>

<a href="/mentors">Go to Mentors</a>
<h1><strong>Students Table</h1> 
<% @students.each do |student| %>
  <p><strong>Username: </strong><%= student.username %></p> 
  <p><strong>First Name: </strong><%= student.first_name %></p> 
  <p><strong>Last Name: </strong><%= student.last_name %></p> 
  <p><strong>Email: </strong><%= student.email %></p> 
  <br>
<% end %>

<a href="/mentors">Go to Mentors</a>