
<div class="container" style="text-align:center; margin-top:100px;">
    <h1>  <%= @course.name %> </h1>
    <h1>  <%= @course.duration %> weeks course</h1>
    <%= link_to 'Edit Course', edit_course_path(@course) %>
    <%= link_to 'Delete', @course, method: :delete %>
</div>

<div class="container" style="text-align:center; margin-top:100px;">
<div class="col-lg-12" >
<h1><strong>Students in <%= @course.name %> </h1> 
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
    </tr>
  </thead>
  <tbody>
  <% @course.students.each do |student| %>
    <tr>
      <th scope="row">1</th>
      <td><%= student.user_id %></td>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>      
      <td><%= link_to 'Show', student %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>        
    </tr>
  <% end %>
  </tbody>
</table>
</div>

</div>